.Chapter5{display:none;}
.Chapter6{display:none;}
.Chapter7{display:none;}

*{padding:0; margin:0;}
li{list-style:none;}
a{text-decoration:none;}

#header{width:100%; margin:0 auto; height:160px; position:relative;}
#title{position:absolute; left:4%; top:30px;}
#topnav{position:absolute; right:4%; top:0;}
#botnav{position:absolute; right:4%; bottom:10px;}
#topnav > ul > li{float:left;}
#topnav > ul > li > a{display:block; padding:2px 10px; border:1px solid black;}
#topnav > ul > li > a:hover{background-color:black; color:white;}
#topnav > ul > li:first-child > a{border-radius:10px 0 0 10px;}
#topnav > ul > li:last-child > a{border-radius:0 10px 10px 0;}
#botnav > ul > li{float:left;}
#botnav > ul > li > a{display:block; padding:10px 20px; border:1px solid black;}
#botnav > ul > li > a:hover{background-color:black; color:white;}
#botnav > ul > li:first-child > a{border-radius:10px 0 0 10px;}
#botnav > ul > li:last-child > a{border-radius:0 10px 10px 0;}
#main{width:90%; margin:0 2% 0 3%; overflow:hidden;}
#main > #left{width:80%; float:left;}
#main > #left > .main{border:1px solid black; padding:20px; margin:5px;}
#main > #right{width:20%; float:left;}
input:nth-of-type(1){display:none;}
.Chapter5 > input:nth-of-type(1) ~ div:nth-of-type(1){display:none;}
input:nth-of-type(1):checked ~ div:nth-of-type(1){display:block;}
input:nth-of-type(2){display:none;}
input:nth-of-type(2) ~ div:nth-of-type(2){display:none;}
input:nth-of-type(2):checked ~ div:nth-of-type(2){display:block;}
#buttons{overflow:hidden; margin-top:5px;}
#buttons > label{display:block; float:left; width:50%; height:30px; line-height:30px; text-align:center; box-sizing:border-box; border:1px solid black; background-color:black; color: white;}
input:nth-of-type(1):checked ~ section#buttons > label:nth-of-type(1){background-color:white; color:black;}
input:nth-of-type(2):checked ~ section#buttons > label:nth-of-type(2){background-color:white; color:black;}
.menu{overflow:hidden; padding:10px; border:1px solid black; border-top:none;}
.topbox{float:left;}
.bottombox{float:left; margin-left:10px; width:170px;}
.bottombox > strong{display:block; width:100%; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
#foot{width:93.4%; margin:0 auto; margin-bottom:10px; box-sizing:border-box; padding:10px; border:1px solid black; text-align:center;}
 
#head{height:45px; background-color: thistle; position:relative; text-align:center; line-height:45px;}
#head > h1{color:white;}
#head > a, #head > label{display:block; height:32px; position:absolute;}
#head > a#left6{width:62px; left:5px; top:7px; background-color:teal; background-position:0px 0px; text-indent:-99999px;}
#head > label#right6{width:32px; right:5px; top:7px; background-color:gray; background-position:-62px 0px; text-indent:-99999px;}
#toggle{display:none;}
#toggle + #wraps > #toggle_gnb_wrap{display:none;}
#toggle:checked + #wraps > #toggle_gnb_wrap{display:block;}
#toggle_gnb_wrap{background-color:#363636; padding:15px;}
#toggle_gnb{background-color:#ffffff; padding:5px;}
#toggle_gnb > ul{overflow:hidden;}
#toggle_gnb > ul > li{width:80px; float:left;}
#top_gnb{overflow:hidden; border-bottom:1px solid black; background-color:#B42111;}
#top_gnb > div > a{float:left; width:25%; height:35px; line-height:35px; text-align:center; color:white;}
#bottom_gnb{display:table; width:100%; border-bottom:1px solid black;}
#bottom_gnb > div{display:table-cell; position:relative;}
#bottom_gnb > div > a{display:block; height:35px; line-height:35px; text-align:center;}
#bottom_gnb > div > a::before{display:block; position:absolute; top:9px; left:-1px; width:1px; height:15px; border-left:1px solid black; content:'';}
.mainheader{padding:20px;}
#main_article{padding:10px;}
#foot{padding:10px; border-top:3px solid black; text-align:center;}

#main_header{height:60px; line-height:60px; padding-left:10px; border-bottom:1px solid black; background-color:#1D4088; color:white;}
#main_gnb{overflow:hidden; border-bottom:1px solid black; background-color: #32394A;}
#main_gnb > ul.left{overflow:hidden; float:left;}
#main_gnb > ul.right{overflow:hidden; float:right;}
#main_gnb > ul.left > li{float:left;}
#main_gnb > ul.right >li{float:left;}
#main_gnb a{display:block; padding:10px 20px; border-left:1px solid black; border-right:1px solid black; color:white; font-weight:bold;}
body{min-width:760px;}
#wrap{overflow: hidden; background-color: #71B1D1;}
#wrap > #main_lnb{float:left; width:200px;}
#wrap > #content_wrap{float:left; width: 100%; *width: 99.9%; margin-right: -200px;}
#wrap > #content_wrap > #content{padding-right: 200px;}
#main_lnb > ul > li > a{display: block; height:40px; line-height: 40px; padding-left: 15px; border-top:1px solid #96D6F6; border-bottom:1px solid #6298B2; color: white; font-weight: bold;}
#contect{background-color: white; border-left: 1px solid black;}
article{padding: 10px;}
#foot{padding: 10px; border-top: 3px solid black; text-align: center;}



@media screen and (min-width:1441px){
     .Chapter5{display: block;}
}
@media (min-width:769px) and (max-width:1440px) {
    .Chapter6{display: block;}
}
@media screen and (max-width:768px){
    .Chapter7{display: block;}
}

